* {
    font-family: sans-serif;
}

nav {
    background-color: rgb(3, 2, 12);
    overflow: hidden;
    margin-top: 100px;
    width: 100%;
    margin: 0;
    height: 65px;
}

nav a {
    text-decoration: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10%;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
}

nav a:hover {
    text-decoration: none;
}

.row {
    border-radius: 20px;
    border: 2px solid aqua;
}

#image_Id img {
    width: 100%;
    height: 720px;
}

#form_Id {
    background-color: #c3f2f6;
    margin: 1px 0;
    border-radius: 20px;
}

h4 {
    font-size: 10pt;
    background-color: black;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    padding: 2px;
}

.form-group {
    padding-top: 1px;
}

.form-group input:focus {
    outline: 0;
}

.form-group.success input {
    border-color: green;
}

.form-group .error input {

    border-color: red;
}

.form-group .error {
    color: red;
    font-size: 9px;
    height: 13px;
}

label {
    font-weight: 600;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btnId:hover {
    background-color: orange;
}